* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
body {
    background: #333;
    color: hsl(200, 100%, 90%);
    max-width: 600px;
    padding: 1rem;
    margin: 0 auto;
  }
  

  
  .form-row {
    justify-content: center;

    display: flex;
    flex-direction: row;
    gap: 0.1rem;
  }
  
  .btn {
    background: hsl(200, 100%, 50%, 0.1);
    border: 1px solid hsl(200, 100%, 50%);
    color: hsl(200, 100%, 50%);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    outline: none;
  }
  
  .btn:hover,
  .btn:focus-visible {
    background: hsl(200, 100%, 50%, 0.2);
  }
  
  .btn.btn-danger {
    background: hsl(0, 100%, 40%, 0.1);
    border: 1px solid hsl(0, 100%, 40%);
    color: hsl(0, 100%, 40%);
  }
  
  .btn.btn-danger:hover,
  .btn.btn-danger:focus-visible {
    background: hsl(0, 100%, 40%, 0.2);
  }
  
  input {
    outline: none;
    border: 1px solid #C6A969;
    
    background:#F1E4C3;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    color:black;
  }
  
  input:focus {
    border: 1px solid hsl(200, 100%, 70%);
  }
  
  .header {
    width: 100%;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1 rem;
  }
  
  .list {
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    list-style: none;
  }
  
  .list li:has(input:checked) label {
    color: hsl(200, 20%, 40%);
  }
  
  .list {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  
  .list li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  
  .list li label {
    display: flex;
    gap: 0.25rem;
    cursor: pointer;
    align-items: center;
  }
  
  .list li:has(input:focus-visible) label {
    outline: 1px solid hsl(200, 100%, 50%);
  }
  
  .list li input {
    outline: none;
    width: 0;
    height: 0;
    appearance: none;
    pointer-events: none;
    position: absolute;
  }
  
  .list li label::before {
    content: "";
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    background: hsl(200, 100%, 90%);
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .list li label:hover::before {
    background: hsl(200, 100%, 80%);
  }
  
  .list li:has(input:checked) label::before {
    content: "✔";
    background: hsl(200, 100%, 40%);
    color: hsl(200, 100%, 90%);
    font-size: 0.75rem;
    font-weight: bold;
  }
  
  .list li:has(input:checked) label:hover::before {
    background: hsl(200, 100%, 30%);
  }

  .homePage {
    display: flex;
    flex-direction: row;
    place-content: space-between;
    
    
   
    gap: 1rem;
  }
  .homePage > div {
    
    justify-self: center;
    padding: 10px;
    width: 300px;
  }
  .Recipe {
    border: 1px solid #ccc;
    border-radius: 4%;
    padding: 16px;
    padding-top: 0px;
    margin: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #FFFFEC;
    color: black;
    width: 300px;
  }
  h3 {
    border-bottom: 1px solid #ccc;
    border-bottom-style:dashed;
  }
  .generateBtn{
    width: 200px;
    height: 100px;
  }
  .Reacthome{
    display: flex;
    flex-direction: column;
    
    align-items: center;
  }
  
  .buttons{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    justify-content: space-around;
  }
  .btn{
    width: 100px;
  }
  .addBtn{
    margin-left: 5px;
    width: auto;
  }
  .btn.btn-danger{
    width: auto;
  }
  
  .header{
    text-align: center;
  }
  .recipeContainer {
    padding-top: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    width: 990px;
  }
  .ingredients{
    background-color: #FFFFEC;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    border-radius: 5%;
  }
  
  li{
    justify-content: center;
  }
  .new-item-form, .item-list {
    margin: 10px;
    padding: 10px;
  }

  * {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: #597E52;
    color: #FFFFEC;
    max-width: 600px;
    padding: 1rem;
    margin: 0 auto;
}

.form-row {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
}

.btn {
    background: #F1E4C3;
    border: 1px solid #C6A969;
    color: #597E52;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    outline: none;
}

.btn:hover,
.btn:focus-visible {
    background: #C6A969;
}

.btn {
    background: #597E52;
    border: 1px solid #C6A969;
    color: #F1E4C3;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #FFFFEC;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}




/* Tablet styles */
@media only screen and (max-width: 1024px) {
  .homePage {
    display: flex;
    flex-direction: column;
    place-content: space-between;
    gap: 1rem;
  }
  .recipeContainer{
    width: 300px;
    justify-content: center;
  }
  ul {
    
    padding: 0;
    
}
}